<div class="container-fluid">
  <div class="row flex-nowrap" style="background-color: #fde3e9;">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: #e3f2fd;"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/admin/addProduct" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline"><h5>Category</h5></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/subCategory" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline"><h5>Sub Category</h5></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/commodity" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline"><h5>Commodity</h5></span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
        <h1>Frequently Asked Questions</h1>

<ul>
    <li><b>What is Cash on Delivery?</b><br>Cash on Delivery is one of the payment methods for making purchases. When you select Cash on Delivery as your payment method, you don't have to make any advance payment. You pay for your order only when you receive it.</li><br>
    <li><b>How to place gift orders?</b><br>You can choose to gift-wrap any item from your shopping cart as long as it is fulfilled by World of Fashion. To do this, check the This will be a gift box next to the item that you want gift-wrapped. Alternatively, check the box next to Ordering a gift? during checkout. The gift options show on the Delivery & Payment page.Products eligible for this service can be gift wrapped for just ₹30.</li><br>
    <li><b>Can I change or modify orders that are already placed?</b><br>You would not be able to change or modify the number of items once you have already placed an order. You can place another fresh order with the desired modifications. However, you can change your shipping preferences in Your Account at any time after placing your order as long as the order hasn't entered the shipping process yet.</li><br>
</ul>

    </div>
  </div>
</div>