<div class="d-flex align-items-center justify-content-left" style="background-color: rgb(248, 214, 180);height:100%;background-image: url(/wf.jpg);background-size: 100% 100%">

<form method="post" action="/login" enctype="multipart/form-data" style="border:1px solid black;padding:30px;background-color:rgb(253, 196, 132);margin-left: 200px;" >
  <h2 style="color: rgb(198, 111, 5);">Login</h2><br>
  {{#if err}}
    <p style="color: red;">{{err}}</p>
    {{/if}}
    {{#if msg}}
    <p style="color: red;">{{msg}}</p>
    {{/if}}

  <label style="font-size:larger;">Email</label>
  <input type="email" name="email"  style="width:250px"/><br /><br />

  <label style="font-size: larger;">Password</label>
  <input type="password" name="pass"  style="width:250px"/><br /><br />

  <input type="submit" value="Login" style="font-size: large;margin-left: 150px;">
  <br><br>
  <p>New User? <a href="/register" >Create an account</a></p>
  

</form>

</div>
 
