<div class="d-flex align-items-center justify-content-center" style="background-color: rgb(248, 214, 180);height:100%;">

<form method="post" action="/register" enctype="multipart/form-data" style="border:1px solid black;padding:30px;background-color:rgb(253, 196, 132)" >
    <h2 style="color: rgb(198, 111, 5);">Register Now</h2><br>
  <label style="font-size: larger;">User Name</label>
  <input type="text" name="name" style="width:250px"/><br /><br />

  <label style="font-size:larger;">Email</label>
  <input type="email" name="email"  style="width:250px"/><br /><br />

  <label style="font-size: larger;">Password</label>
  <input type="password" name="pass"  style="width:250px"/><br /><br />

  <input type="submit" value="Register" style="font-size: large;margin-left: 150px;">

</form>
</div>
 
